body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    color: #E5E7EB;
    font-size: 18px;
    padding: 100px;
    flex-shrink: 0;
}

.main {
    background-color: #1f2937;
    display: flex;
    color: white;
    font-size: 18px;
    font-weight: 700;
    justify-content: space-between;
}


.placeholder {
    background-color: darkgray;
    color: white;
    padding: 70px;
    margin: 20px;
}

button {
    color: white;
    background-color: #3882F6;
    border-radius: 20px;
    width: 250px;
    height: 30px;
    border-color: white;
}

.header2 {
    display: flex;
    color: rgb(0, 0, 68);
    font-size: 25px;
    font-weight: 700px;
    justify-content: center;
    margin: 20px;
}

figure {
    display: flex;
    flex-flow: column;
}

.card {
    align-self: flex-start;
    color: darkgray;
}

.container {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

.box {
    background-color: white;
    width: 50px;
    height: 50px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 5px;
    border-radius: 15px;
    padding: 50px;
    color: white;
}


.logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-items: flex-start;
}

.action-box {
    display: flex;
    background-color: #3882F6;
    border: 40px;
    margin: 60px;
    padding: 60px;
    color: white;
    border-radius: 20px;
}

.footer {
    background-color: #1f2937;
    display: flex;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: auto;
}